<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog page</title>
</head>
<body>
    <h2>Home page</h2>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quam corrupti illo at voluptate nemo nam hic nisi autem illum. Ut, maxime consequuntur. Dolor, non! Officia recusandae sunt accusamus, aliquid porro temporibus vero praesentium iure aliquam error vel repellat deleniti, exercitationem, incidunt explicabo iusto magnam autem repudiandae! Accusamus, optio quibusdam!</div>
</body>
</html>