<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mission page</title>
</head>
<body>
    <div>
        <h3>Mission pag</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut blanditiis explicabo alias illo corrupti, necessitatibus dolorem facilis, nobis optio laborum tempora officia vero. Incidunt voluptate beatae fugiat saepe maiores. Repudiandae!</p>
    </div>
</body>
</html>